body {
    background: #800080;
    color: #333;
    text-align: center;
    padding-top: 60px;
    font-size: 11pt;
    font-family: sans-serif;
}

input#search {
    border: 1px solid #ccc;
    background: #fff;
    outline: 0;
    padding: 10px;
    font-size: 18pt;
    border-radius: 4px;
    width: 40%;
}

* {
    text-transform: lowercase !important;
}

table {
    /*font-size: 13pt;*/
    position: relative;
    margin: 0 auto;
    margin-top: 60px;
    left: -13px;
}

a, a:visited {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}

td {
    padding-left: 20px;
    vertical-align: top;
}

td {
    color: #aaa;
}

#header > td {
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #223;
        color: #fff;
    }
    a, a:visited {
        color: #fff;
        text-decoration: none;
    }
    td {
        color: #ccc;
    }
}
